<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="creditcard">
      <h2 data-cy="creditcardDetailsHeading"><span jhiTranslate="jhipsterApp.creditcard.detail.title">Creditcard</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ creditcard.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.creditcard.label">Label</span></dt>
        <dd>
          <span>{{ creditcard.label }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.creditcard.cardNumber">Card Number</span></dt>
        <dd>
          <span>{{ creditcard.cardNumber }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.creditcard.expirationDate">Expiration Date</span></dt>
        <dd>
          <span>{{ creditcard.expirationDate }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.creditcard.cryptogram">Cryptogram</span></dt>
        <dd>
          <span>{{ creditcard.cryptogram }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.creditcard.customer">Customer</span></dt>
        <dd>
          <div *ngIf="creditcard.customer">
            <a [routerLink]="['/customer', creditcard.customer?.id, 'view']">{{ creditcard.customer?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/creditcard', creditcard.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
