<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="vehicle">
      <h2 data-cy="vehicleDetailsHeading"><span jhiTranslate="demo3App.vehicle.detail.title">Vehicle</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ vehicle.id }}</span>
        </dd>
        <dt><span jhiTranslate="demo3App.vehicle.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'demo3App.VehicleType.' + vehicle.type }}">{{ vehicle.type }}</span>
        </dd>
        <dt><span jhiTranslate="demo3App.vehicle.immatriculation">Immatriculation</span></dt>
        <dd>
          <span>{{ vehicle.immatriculation }}</span>
        </dd>
        <dt><span jhiTranslate="demo3App.vehicle.label">Label</span></dt>
        <dd>
          <span>{{ vehicle.label }}</span>
        </dd>
        <dt><span jhiTranslate="demo3App.vehicle.kilometers">Kilometers</span></dt>
        <dd>
          <span>{{ vehicle.kilometers }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/vehicle', vehicle.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
