<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-vehicle-heading" data-cy="VehicleCreateUpdateHeading" jhiTranslate="demo3App.vehicle.home.createOrEditLabel">
        Create or edit a Vehicle
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="demo3App.vehicle.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'demo3App.VehicleType.null' | translate }}</option>
            <option *ngFor="let vehicleType of vehicleTypeValues" [value]="vehicleType">
              {{ 'demo3App.VehicleType.' + vehicleType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="demo3App.vehicle.immatriculation" for="field_immatriculation">Immatriculation</label>
          <input
            type="text"
            class="form-control"
            name="immatriculation"
            id="field_immatriculation"
            data-cy="immatriculation"
            formControlName="immatriculation"
          />
          <div
            *ngIf="
              editForm.get('immatriculation')!.invalid &&
              (editForm.get('immatriculation')!.dirty || editForm.get('immatriculation')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('immatriculation')?.errors?.pattern"
              jhiTranslate="entity.validation.pattern"
              [translateValues]="{ pattern: 'Immatriculation' }"
            >
              This field should follow pattern for "Immatriculation".
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="demo3App.vehicle.label" for="field_label">Label</label>
          <input type="text" class="form-control" name="label" id="field_label" data-cy="label" formControlName="label" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="demo3App.vehicle.kilometers" for="field_kilometers">Kilometers</label>
          <input
            type="number"
            class="form-control"
            name="kilometers"
            id="field_kilometers"
            data-cy="kilometers"
            formControlName="kilometers"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
