<div>
  <h2 id="page-heading" data-cy="CreditcardHeading">
    <span jhiTranslate="jhipsterApp.creditcard.home.title">Creditcards</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterApp.creditcard.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-creditcard"
        [routerLink]="['/creditcard/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterApp.creditcard.home.createLabel"> Create a new Creditcard </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="creditcards?.length === 0">
    <span jhiTranslate="jhipsterApp.creditcard.home.notFound">No creditcards found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="creditcards && creditcards.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="jhipsterApp.creditcard.label">Label</span></th>
          <th scope="col"><span jhiTranslate="jhipsterApp.creditcard.cardNumber">Card Number</span></th>
          <th scope="col"><span jhiTranslate="jhipsterApp.creditcard.expirationDate">Expiration Date</span></th>
          <th scope="col"><span jhiTranslate="jhipsterApp.creditcard.cryptogram">Cryptogram</span></th>
          <th scope="col"><span jhiTranslate="jhipsterApp.creditcard.customer">Customer</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let creditcard of creditcards; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/creditcard', creditcard.id, 'view']">{{ creditcard.id }}</a>
          </td>
          <td>{{ creditcard.label }}</td>
          <td>{{ creditcard.cardNumber }}</td>
          <td>{{ creditcard.expirationDate }}</td>
          <td>{{ creditcard.cryptogram }}</td>
          <td>
            <div *ngIf="creditcard.customer">
              <a [routerLink]="['/customer', creditcard.customer?.id, 'view']">{{ creditcard.customer?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/creditcard', creditcard.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/creditcard', creditcard.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(creditcard)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
