<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-country-heading" data-cy="CountryCreateUpdateHeading" jhiTranslate="demo3App.country.home.createOrEditLabel">
        Create or edit a Country
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="demo3App.country.countryAbbr" for="field_countryAbbr">Country Abbr</label>
          <input
            type="text"
            class="form-control"
            name="countryAbbr"
            id="field_countryAbbr"
            data-cy="countryAbbr"
            formControlName="countryAbbr"
          />
          <div *ngIf="editForm.get('countryAbbr')!.invalid && (editForm.get('countryAbbr')!.dirty || editForm.get('countryAbbr')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('countryAbbr')?.errors?.pattern"
              jhiTranslate="entity.validation.pattern"
              [translateValues]="{ pattern: 'Country Abbr' }"
            >
              This field should follow pattern for "Country Abbr".
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="demo3App.country.people" for="field_people">People</label>
          <input type="number" class="form-control" name="people" id="field_people" data-cy="people" formControlName="people" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="demo3App.country.countryName" for="field_countryName">Country Name</label>
          <input
            type="text"
            class="form-control"
            name="countryName"
            id="field_countryName"
            data-cy="countryName"
            formControlName="countryName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="demo3App.country.region" for="field_region">Region</label>
          <select class="form-control" id="field_region" data-cy="region" name="region" formControlName="region">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="regionOption.id === editForm.get('region')!.value?.id ? editForm.get('region')!.value : regionOption"
              *ngFor="let regionOption of regionsCollection; trackBy: trackRegionById"
            >
              {{ regionOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
