<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="country">
      <h2 data-cy="countryDetailsHeading"><span jhiTranslate="demo3App.country.detail.title">Country</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ country.id }}</span>
        </dd>
        <dt><span jhiTranslate="demo3App.country.countryName">Country Name</span></dt>
        <dd>
          <span>{{ country.countryName }}</span>
        </dd>
        <dt><span jhiTranslate="demo3App.country.peopleCount">People count</span></dt>
        <dd>
          <span>{{ country.peopleCount }}</span>
        </dd>
        <dt><span jhiTranslate="demo3App.country.region">Region</span></dt>
        <dd>
          <div *ngIf="country.region">
            <a [routerLink]="['/region', country.region?.id, 'view']">{{ country.region?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/country', country.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
